/* Container principal */
.regiao-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para os botões */
  .btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.85;
  }
  
  /* Estilo da tabela */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table thead {
    background-color: #007bff;
    color: white;
    text-align: left;
  }
  
  .table th, .table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Estilo do dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown button {
    background-color: #007bff;
    color: rgb(19, 18, 18);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown button:hover {
    background-color: #0056b3;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content button {
    padding: 10px 20px;
    width: 100%;
    border: none;
    text-align: left;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  .dropdown-content button:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  