<div class="regiao-form-container">
    <form [formGroup]="regiaoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nome">Nome da Região</label>
        <input id="nome" formControlName="nome" class="form-control" />
        <div *ngIf="regiaoForm.get('nome').invalid && regiaoForm.get('nome').touched" class="text-danger">
          Nome é obrigatório
        </div>
      </div>
  
      <div formArrayName="cidades">
        <div *ngFor="let cidadeControl of cidadesFormArray.controls; let i = index" [formGroupName]="i">
          <div class="form-group">
            <label for="cidadeNome">Cidade</label>
            <select formControlName="id" class="form-control">
              <option *ngFor="let cidade of cidades" [value]="cidade.id">{{ cidade.nome }}, {{ cidade.uf }}</option>
            </select>
            <div *ngIf="cidadeControl.get('nome').invalid && cidadeControl.get('nome').touched" class="text-danger">
              Nome da cidade é obrigatório
            </div>
            <div *ngIf="cidadeControl.get('uf').invalid && cidadeControl.get('uf').touched" class="text-danger">
              UF da cidade é obrigatório
            </div>
            <button type="button" class="btn btn-danger mt-2" (click)="removeCidadeControl(i)">Remover</button>
          </div>
        </div>
      </div>
  
      <button type="button" class="btn btn-success mt-2" (click)="addCidadeControl()">Adicionar Cidade</button>
  
      <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    </form>
  </div>
  